<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magentoa:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer">
                    <resource id="GumNet_DoubleCheckPrice::product_price_configuration" title="Product Price Approval" translate="title" sortOrder="10">
                        <resource id="GumNet_DoubleCheckPrice::product_price_approval" title="Product Price Approval" translate="title" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
