<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="GumNet\DoubleCheckPrice\Api\Data\ProductPriceApprovalInterface"
                type="GumNet\DoubleCheckPrice\Model\Data\ProductPriceApproval"/>
    <preference for="GumNet\DoubleCheckPrice\Api\ProductPriceApprovalRepositoryInterface"
                type="GumNet\DoubleCheckPrice\Model\ProductPriceApprovalRepository"/>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Save">
        <plugin name="double_check_update_price"
                type="GumNet\DoubleCheckPrice\Plugin\Catalog\Controller\ProductSave\UpdatePrice" />
    </type>



    <virtualType name="GumNet\DoubleCheckPrice\Model\ResourceModel\ProductPriceApproval\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">product_price_approval</argument>
            <argument name="resourceModel" xsi:type="string">
                GumNet\DoubleCheckPrice\Model\ResourceModel\ProductPriceApproval\Collection
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="product_price_approval_listing_data_source" xsi:type="string">
                    GumNet\DoubleCheckPrice\Model\ResourceModel\ProductPriceApproval\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>
